<!DOCTYPE html>
<html>
    <head>
        <title>info</title>
        <link href="./style.css" rel="stylesheet" type="text/css">
        <script src="index.js"></script>
    </head>
    <body>
        <h1>info</h1>

        <ul>
            <il>
                <%- username %>
                <%- tag %>
                <%- firstname %>
                <%- lastname %>
                <%- email %>
                <%- age %>

            </il>
        </ul>
    </body>
</html>

